<div class="container">
  <div class="table-box" *ngIf="addresses.length>0">
    <h2>Addresses: <button class="button-confirm" (click)="toggleAddAddressForm()"><mat-icon>add</mat-icon></button></h2>
      <form *ngIf="showAddAddressForm" (submit)="addAddress()" #addAddressForm="ngForm">
        <div class="add-address-form">
        <h2>Add Address</h2>
        <div class="form-group">
          <label for="country">Country:</label>
          <input type="text" id="country" name="country" [(ngModel)]="newAddress!.country"  required>
        </div>
        <div class="form-group">
          <label for="city">City:</label>
          <input type="text" id="city" name="city" [(ngModel)]="newAddress!.city" required>
        </div>
        <div class="form-group">
          <label for="address">Address:</label>
          <input type="text" id="address" name="address" [(ngModel)]="newAddress!.address" required>
        </div>
        <div class="buttons">
          <button type="submit" class="button-confirm" [disabled]="addAddressForm.invalid"><h4>Save</h4></button>
          <button type="button" class="button-cancel" (click)="cancelAddAddress()"><h4>Cancel</h4></button>
        </div>
        </div>
      </form>

    <table>
      <thead>
        <tr>
          <th>Country</th>
          <th>City</th>
          <th>Address ID</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let address of addresses">
          <td>{{ address.country }}</td>
          <td>{{ address.city }}</td>
          <td>{{ address.address }}</td>
          <td>
            <button class="button-confirm" (click)="editAddress(address)">Edit</button>
          </td>
          <td>
            <button class="button-cancel" (click)="removeAddress(address)">Remove</button></td>
        </tr>
        <tr *ngIf="editingAddress">
          <td class="editing-tr"><input type="text" class="editing-input" [(ngModel)]="editingAddress.country"></td>
          <td class="editing-tr"><input type="text" class="editing-input" [(ngModel)]="editingAddress.city"></td>
          <td class="editing-tr"><input type="text" class="editing-input" [(ngModel)]="editingAddress.address"></td>
          <td class="editing-tr">
            <button class="button-confirm" (click)="saveAddress()" [disabled]="!editingAddress.country || !editingAddress.city || !editingAddress.address">Save</button>
          </td>
          <td class="editing-tr">
            <button class="button-cancel" (click)="cancelEdit()">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="" *ngIf="addresses.length===0">
    <h2>Add address: <button class="button-confirm" (click)="toggleAddAddressForm()"><mat-icon>add</mat-icon></button></h2>
    <form *ngIf="showAddAddressForm" (submit)="addAddress()" #addAddressForm="ngForm">
      <div class="add-address-form">
      <h2>Add Address</h2>
      <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" [(ngModel)]="newAddress!.country"  required>
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" [(ngModel)]="newAddress!.city" required>
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" [(ngModel)]="newAddress!.address" required>
      </div>
      <div class="buttons">
        <button type="submit" class="button-confirm" [disabled]="addAddressForm.invalid"><h4>Save</h4></button>
        <button type="button" class="button-cancel" (click)="cancelAddAddress()"><h4>Cancel</h4></button>
      </div>
      </div>
    </form>
  </div>
  </div>

