.footer-class {
  background-color: #3f51b5;
  padding: 20px 0;
  color: #333;
  text-align: center;
}

.footer-class .container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-class p {
  margin: 0;
}
p{
  color: white;
}
