<div class="keyboard-container">
  <div class="search-container" *ngIf="editingAccount===null">
    <label class="search-label">Search:</label>
    <input matInput type="text" [(ngModel)]="filterValue" (input)="applyFilter()" placeholder="Enter ID or Email" class="search-input">
  </div>
  <div class="mat-elevation-z8" *ngIf="editingAccount===null">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="idc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let account">{{ account.idc }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let account">{{ account.email }}</td>
      </ng-container>
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let account">{{account.email}}</td>
      </ng-container>
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let account">{{ account.lastname }}</td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
        <td mat-cell *matCellDef="let account">{{ account.phoneNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
        <td mat-cell *matCellDef="let account">{{ account.role }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let account">
          <button *ngIf="true" mat-icon-button color="primary">
            <mat-icon>check_circle_outline</mat-icon>
          </button>
          <button *ngIf="false" mat-icon-button color="primary">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
        <td mat-cell *matCellDef="let account">
          <button (click)="changeEditing(account)" mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{filterValue}}"</td>
      </tr>
    </table>

    <mat-paginator style="margin-top: 15px;" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<div class="keyboard-edit" *ngIf="editingAccount!==null">
  <h3>Edit Account</h3>
<form *ngIf="editingAccount!==null" (ngSubmit)="onSubmit()" #editForm="ngForm">
  <div>
    <label for="idc">Account ID</label>
    <input type="number" name="idc" class="input-text" [(ngModel)]="editingAccount.idc" required readonly [disabled]="true">
  </div>
  <div>
    <label for="email">Account Email</label>
    <input type="text" name="email" class="input-text" [(ngModel)]="editingAccount.email" required [disabled]="true">
  </div>
  <div>
    <label for="role">Status</label>
    <select name="role" [(ngModel)]="editingAccount.role" [value]="editingAccount.role" required>
      <option value="USER">USER</option>
      <option value="ADMIN">ADMIN</option>
      <option value="MANAGER">MANAGER</option>
    </select>
  </div>
  <div>
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname" class="input-text" [(ngModel)]="editingAccount.firstname" required [disabled]="true">
  </div>
  <div>
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" class="input-text" [(ngModel)]="editingAccount.lastname" required [disabled]="true">
  </div>
  <div>
    <label for="phoneNumber">Phone Number:</label>
    <input type="number" name="phoneNumber" class="input-text" [(ngModel)]="editingAccount.phoneNumber" required [disabled]="true">
  </div>
  <button type="submit" [disabled]="editForm.invalid" class="btn btn-primary">Update</button>
  <button type="button" (click)="cancelEdit()">Cancel</button>
</form>
</div>
</div>
