<div class="search-bar">
  <input type="text" placeholder="Search" [(ngModel)]="searchQuery" (input)="applyFilters()"/>
</div>
<div class="container">
  <div class="container-fillter">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Filters:</mat-card-title>
        <div>
          <label for="brandFilter">Series:</label>
          <input type="text" id="brandFilter" [(ngModel)]="brandFilter" (input)="applyFilters()">

          <label for="interfaceFilter">Type:</label>
          <select id="interfaceFilter" [(ngModel)]="typeFilter" (change)="applyFilters()">
            <option value="Intern">Internal</option>
            <option value="Extern">External</option>
          </select>

          <label for="priceFilterMax">Max price:</label>
          <input type="number" id="priceFilterMax" [(ngModel)]="priceFilterMax" (input)="applyFilters()">
          <label for="priceFilterMin">Min price:</label>
          <input type="number" id="priceFilterMin" [(ngModel)]="priceFilterMin" (input)="applyFilters()">
        </div>
      </mat-card-content>

    </mat-card>
    </div>

  <div *ngIf="!filtred">
  <div class="container-product">
    <mat-card (click)="navigate(hardDisk.id)" class="keyboard-card" *ngFor="let hardDisk of hardDisks">
      <mat-card-content >
        <img class="img-product" [src]="hardDisk.image" alt="HardDisk Image" width="200" style="display: block; margin: 0 auto;">
        <mat-card-title>{{hardDisk.name}}</mat-card-title>
        <mat-card-subtitle>{{hardDisk.series}}</mat-card-subtitle>
        <p>Type: {{ hardDisk.typeHdd }}</p>
        <p>Interface: {{ hardDisk.interfaceType }}</p>
        <p>Capacity: {{ hardDisk.capacity }} GB</p>
        <div class="stars" *ngIf="hardDisk.reviews && !isNaN(starsOverAll(hardDisk.reviews))">
          <p>Reviews({{reviewsLength(hardDisk.reviews)}}):</p>
          <button *ngFor="let rating of starRatings" [class.filled]="rating <= starsOverAll( hardDisk.reviews )" [disabled]>
            <mat-icon>{{ rating <= starsOverAll( hardDisk.reviews ) ? 'star' : 'star_border' }}</mat-icon>
          </button>
          </div>
        <p style="margin-top: 8px; margin-bottom: 8px;" *ngIf="hardDisk.reviews && isNaN(starsOverAll(hardDisk.reviews))">No reviews</p><br>
        <h3 style="color:red">Price: {{ hardDisk.price }}€</h3>
        <br>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="addToCart($event,hardDisk.id)" *ngIf="hardDisk.stock>0" class="add-cart-button"><mat-icon>add_shopping_cart</mat-icon>Add to cart</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>
  <div *ngIf="filtred">
    <div class="container-product">

      <mat-card (click)="navigate(hardDisk.id)" class="keyboard-card" *ngFor="let hardDisk of filteredProducts">
        <mat-card-content>
          <img class="img-product" [src]="hardDisk.image" alt="HardDisk Image" width="200" style="display: block; margin: 0 auto;">
          <mat-card-title>{{hardDisk.name}}</mat-card-title>
          <mat-card-subtitle>{{hardDisk.series}}</mat-card-subtitle>
          <p>Type: {{ hardDisk.typeHdd }}</p>
          <p>Interface: {{ hardDisk.interfaceType }}</p>
          <p>Capacity: {{ hardDisk.capacity }} GB</p>
          <div class="stars" *ngIf="hardDisk.reviews && !isNaN(starsOverAll(hardDisk.reviews))">
            <p>Reviews({{reviewsLength(hardDisk.reviews)}}):</p>
            <button *ngFor="let rating of starRatings" [class.filled]="rating <= starsOverAll( hardDisk.reviews )" [disabled]>
              <mat-icon>{{ rating <= starsOverAll( hardDisk.reviews ) ? 'star' : 'star_border' }}</mat-icon>
            </button>
            </div>
          <p *ngIf="hardDisk.reviews && isNaN(starsOverAll(hardDisk.reviews))">No reviews</p><br>
          <h3 style="color:red">Price: {{ hardDisk.price }}€</h3>
          <br>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="addToCart($event,hardDisk.id)" *ngIf="hardDisk.stock>0" class="add-cart-button"><mat-icon>add_shopping_cart</mat-icon>Add to cart</button>
        </mat-card-actions>
      </mat-card>
    </div>
    </div>
  </div>

